<footer class="footer">
  <div class="footer-measure">
    <div class="footer-left">
      <p>&copy; Copyright 2020 Wycombe Care</p>
    </div>
    <div class="footer-right">
      <p>Made by <a href="https://wearefrankly.co">Frankly</a></p>
    </div>
  </div>
</footer>
