<nav class="nav">
  <ul>
    <li><a {% if navId == "home" %}aria-current="true"{% endif%} href="/">Home</a></li>
    <li><a {% if navId == "about" %}aria-current="true"{% endif%} href="/about/">About us</a></li>
    <li><a {% if navId == "admissions" %}aria-current="true"{% endif%} href="/admissions/">Admissions</a></li>
    <li><a {% if navId == "contact" %}aria-current="true"{% endif%} href="/contact/">Contact</a></li>
  </ul>
</nav>
