<nav class="nav">
  <ul>
    <li><a {% if navId == "home" %}aria-current="true"{% endif%} href="/">Home</a></li>
    <li><a {% if navId == "articles" %}aria-current="true"{% endif%} href="/ethos/">Ethos</a></li>
    <li><a {% if navId == "articles" %}aria-current="true"{% endif%} href="/About/">About</a></li>
    <li><a {% if navId == "about" %}aria-current="true"{% endif%} href="/about/">Contact</a></li>
  </ul>
</nav>
