$colour-white: #fff;
$colour-black: #0B0C0C;

// blues
$colour-blue-100: #F2F7F9;
$colour-blue-200: #E0E7E9;
$colour-blue-500: #039BE5;
$colour-blue-600: #0277BD;
$colour-blue-700: #01579B;
$colour-blue-800: #003966;
$colour-blue-900: #002440;

// greys
$colour-grey-400: #788b9b;
$colour-grey-500: #6f777b;
$colour-grey-600: #545454;
$colour-greengrey-500: #306175;

// yellows
$colour-yellow-100: #FFFDE6;
$colour-yellow-500: #ffd346;



$colour-green-100: #F0FFF4;
$colour-green-200: #C6F6D5;
$colour-green-300: #9AE6B4;
$colour-green-400: #68D391;
$colour-green-500: #48BB78;
$colour-green-600: #38A169;
$colour-green-700: #2F855A;
$colour-green-800: #276749;
$colour-green-900: #22543D;

$colour-grey-100: #F7FAFC;
$colour-grey-200: #EDF2F7;
$colour-grey-300: #E2E8F0;
$colour-grey-400: #CBD5E0;
$colour-grey-500: #A0AEC0;
$colour-grey-600: #718096;
$colour-grey-700: #4A5568;
$colour-grey-800: #2D3748;
$colour-grey-900: #1A202C;

// brand colours
$colour-brand-red: #E63F1E;
$colour-brand-yellow: #DFCF33;
$colour-brand-green: #95C11F;
$colour-brand-blue: #2BB7CC;
