.footer {
	background-color: $colour-green-200;
	padding-top: 25px;
	padding-bottom: 25px;
	@include mq($from: md) {
		padding-top: 50px;
		padding-bottom: 50px;
	}
}

.footer-measure {
	max-width: 1200px;
	margin-left: 20px;
	margin-right: 20px;

	@include mq($from: 800px) {
		overflow: hidden;
	}

	@include mq($from: 1240px) {
		margin-left: auto;
		margin-right: auto;
	}
}

.footer-left {
	margin-bottom: 10px;
	@include mq($from: 800px) {
		float: left;
	}
}

.footer-right {
	@include mq($from: 800px) {
		float: right;
	}
}

.footer p {
	font-size: rem(18px);
	line-height: rem(25px);

	@include mq($from: md) {
		font-size: rem(25px);
		line-height: rem(40px);
	}
}
