html {
	font-size: 100%;
	font-family: 'PT Serif', arial, sans-serif;
}

body {
	border-top: 5px solid #b1e1b7;
  text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	font-size: 100%;
	color: $colour-black;
}

a:link,
a:visited {
	color: $colour-black;
	border-bottom: 3px solid $colour-brand-blue;
	text-decoration: none;
}

a:hover,
a:focus {
	text-decoration: none;
}

a:focus {
	outline: 3px solid $colour-brand-blue;
}

main {
	display: block;
}

.homepage-hero {
	padding-top: 30px;

	@include mq($from: md) {
		margin-bottom: 40px;
		padding-top: 40px;
	}
	img {
		margin-left: -20px;
		margin-right: -20px;
	}
}

.homepage-title {
	max-width: rem(1000px);
	margin: 0 auto;
	text-align: center;
	margin-bottom: 25px;
	@include mq($from: md) {
		margin-bottom: 40px;
	}
}

.content p {
	max-width: 720px;
	font-size: rem(18px);
	line-height: rem(25px);
	margin-bottom: $spacing-scale-5;

	@include mq($from: md) {
		font-size: rem(25px);
		line-height: rem(40px);
		margin-bottom: $spacing-scale-7;
	}
}

.heading {
	padding-top: 50px;
	padding-bottom: 50px;
	@include mq($from: md) {
		padding-top: 110px;
		padding-bottom: 110px;
	}
}

.heading-measure {
	max-width: 1200px;
	padding-left: 20px;
	padding-right: 20px;
	@include mq($from: 1240px) {
		margin-left: auto;
		margin-right: auto;
	}
}

h1 {
	font-size: rem(36px);
	line-height: rem(40px);
	font-weight: normal;
	color: $colour-black;

	max-width: rem(1000px);
	margin-bottom: 30px;
	letter-spacing: -0.03em;
	@include mq($from: md) {
		font-size: rem(64px);
		line-height: rem(70px);
	}
}

.heading-text {
	font-size: rem(22px);
	line-height: rem(30px);
	max-width: rem(1000px);
	@include mq($from: md) {
		font-size: rem(24px);
		line-height: rem(35px);
	}
}

.content {
	padding-top: 30px;
	padding-bottom: 30px;
	@include mq($from: md) {
		padding-top: 40px;
		padding-bottom: 60px;
	}
}

.content-measure {
	max-width: 1200px;
	margin-left: 20px;
	margin-right: 20px;

	@include mq($from: 1240px) {
		margin-left: auto;
		margin-right: auto;
	}
}

.content h2 {
	font-size: rem(30px);
	line-height: rem(30px);
	margin-bottom: 20px;
	margin-top: 55px;
	font-weight: normal;

	max-width: 620px;
	letter-spacing: -0.03em;

	@include mq($from: md) {
		font-size: rem(45px);
		line-height: rem(45px);
		margin-top: 75px;
	}

	&:first-child {
		margin-top: 0;
	}

	&::after {
		content: ".";
		color: $colour-brand-blue;
	}

}

.content h2:nth-of-type(2n) {
	&::after {
		color: $colour-brand-red;
	}
}

.content h2:nth-of-type(3n) {
	&::after {
		color: $colour-brand-green;
	}
}

.content h3 {
	font-size: rem(19px);
	line-height: rem(25px);
	margin-bottom: 5px;
	max-width: 620px;
	letter-spacing: -0.01em;

	@include mq($from: md) {
		font-size: rem(23px);
		line-height: rem(35px);
		margin-top: 35px;
		margin-bottom: 10px;
	}

	&:first-child {
		margin-top: 0;
	}
}

.content ul,
.content ol {
	max-width: 620px;
	font-size: rem(18px);
	line-height: rem(25px);
	margin-bottom: 25px;

	@include mq($from: md) {
		font-size: rem(25px);
		line-height: rem(40px);
		margin-bottom: $spacing-scale-7;
	}
}

.content ol li,
.content ul li {
	margin-left: $spacing-scale-5;
	margin-bottom: $spacing-scale-3;
}

.content img {
	display: block;
	margin-bottom: $spacing-scale-5;
	@include mq($from: md) {
		margin-bottom: $spacing-scale-7;
	}
}
