.nav {
	margin-top: 15px;
	@include mq($from: 800px) {
		margin-top: 20px;
	}
}

.nav ul {
	list-style: none;
	font-size: 0px;
	font-family: 'PT Serif';
}

.nav li {
	font-size: rem(18px);
	line-height: 0.8em;
	@include mq($from: 800px) {
		display: inline-block;
		font-size: rem(25px);
		line-height: rem(40px);
	}
}

.nav a:link,
.nav a:visited {
	text-decoration: none;
	display: block;
	padding: 15px 15px 15px;
	color: $colour-grey-700;
	border: none;
	@include mq($from: 800px) {
		padding-top: 17px;
		padding-bottom: 20px;
	}
}

.nav a:focus {
	position: relative;
	outline-offset: -3px;
}

.nav a:hover {
	color: $colour-black;
}

.nav a:active,
.nav a[aria-current=true]:active {
}

.nav a:active {
	// border-color: $colour-green-100;
}


.nav a[aria-current=true] {
	font-weight: bold;
	color: $colour-black;
}
