---
permalink: "/about/"
title: "About us"
navId: about
heading: About us
sub: Sub about
---

{% extends 'layouts/base.njk' %}

{% block mainContent %}
  <div class="content">
    <div class="content-measure">
      <h1>{{heading}}</h1>
      {# <h2 id="what-we-provide">What we provide</h2> #}
      <p>At Wycombe Care, we provide long term residential care for disabled children and young people—we’ll call them “children” from this point on.</p>
      <p>We care for children of any gender, with either a learning disability or a physical disability, or both.</p>
      <h2 id="our-houses">Our houses</h2>
      <p>We care for our children in 2 adjacent houses in a quiet residential area on the edge of Luton in Bedfordshire. Between them, our houses can accommodate up to 7 children. </p>
      <p>There’s plenty of communal and private space for each child, and the houses are close to local shops and are within walking distance of the surrounding countryside.</p>

      <img src="/assets/images/home.svg" alt="Illustration of the care home">

      <p>Each house has a communal lounge and dining area, with space to play, and both houses have safe back gardens with toys and activities.</p>
      <p>2 of our rooms have wheelchair accessible en-suite bathrooms and hoisting equipment, and special beds are available if needed.</p>
      <p>Fire alarms and fire safety equipment are installed and tested regularly. Fire audits are carried out by the Fire Service and any recommendations are addressed straight away.</p>
      <h2 id="life-at-wycombe-care">Life at Wycombe Care</h2>
      <p>Each child who lives with us is assigned their own keyworker, who meets with them regularly on their own, and supports them to ensure their needs and wishes are heard and acted upon. </p>
      <p>We also hold a monthly residents' meeting—a chance for the children and the Wycombe Care team to talk about issues that affect their lives at the home. The children can use the meeting to discuss things like menu choices, improvements to the houses, and where they'd like to go on holiday. We also make sure they understand how to raise concerns, if they need to.</p>
      <h3 id="seeing-family-and-friends">Seeing family and friends</h3>
      <p>We work hard to support regular contact between the children and their family and friends, within the guidance of the placing authority. </p>
      <p>Children are encouraged to invite family and friends to the home and to join in activities, celebrations etc.</p>
      <img src="/assets/images/party.svg" alt="Illustration of a birthday party at the care home">
      <p>Our staff are trained to undertake supervised contact where necessary, and work to make contact a positive experience for everyone involved.</p>
      <h3 id="learning-and-education">Learning and education</h3>
      <p>Each young child’s placement plan contains details of their educational history, progress, achievements and goals.</p>
      <p>Staff at the home will work closely with the children's schools to understand the educational history and needs, and to support them in achieving their goals.</p>
      <img src="/assets/images/computer.svg" alt="Illustration of a child learning on a computer">
      <p>Staff at the home ensure that young people have full access to education by staying in touch with their school and attending education reviews and other activities when needed.</p>
      <h3 id="hobbies-and-activities">Hobbies and activities</h3>
      <p>We aim to help each child to enjoy as wide a range of individual and group activities as possible, both inside and outside the home. </p>
      <p>We help all of our children to carry on with individual hobbies, activities and relationships, and to explore new avenues and experiences. To help with this, we ask children and their families to share as much information as possible about their hobbies when they first join us.</p>
      <img src="/assets/images/game.svg" alt="Illustration of a children playing">
      <p>We encourage all of our children to use local sporting facilities, and staff work closely with the childrens’ schools in planning sporting activities. </p>
      <h3 id="religion-and-culture">Religion and culture</h3>
      <p>A child’s cultural identity and religion are an integral part of their character. Our staff work with children, their families and local communities to establish cultural links outside of the home. </p>
      <p>We celebrate all festivals relevant to each individual child in our care, and use them as an educational experience for the other children.</p>
      <p>We have a stringent anti-discrimination policy, and we will not tolerate persecution or abuse on racial, religious or cultural grounds.</p>
      <h3 id="meal-times">Meal times</h3>
      <p>We support each child’s dietary requirements, and we’ll also do our best to incorporate some of their favourite foods into meal times.</p>
      <p>Children eat in the dining area, and we encourage them to get involved with the preparation of food and clearing away afterwards. </p>

      <img src="/assets/images/eating.svg" alt="Illustration of a child eating">

      <p>If you’ve got a question, or you’d like to discuss placing a child, <a href="/contact">get in touch</a>.</p>

    </div>
  </div>

{% endblock %}
