---
permalink: "/about/"
title: "About"
navId: about
heading: About
sub: Sub about
---

{% extends 'layouts/base.njk' %}

{% block mainContent %}
  <div class="heading">
    <div class="heading-measure">
      <h1 class="heading-title">{{heading}}</h1>
    </div>
  </div>
  <div class="content">
    <div class="content-measure">
      <div class="content-block">
        <div class="content-blockA">

          <h2>My role</h2>
          <p>I take problems and turn them into simple products that work for everyone.</p>

          <p>I love helping organisations deliver products and services so that they're more efficient, simpler, faster and easier to use.</p>

          <p>I help discover user needs and translate them into solutions to meet those needs. I do that by challenging assumptions and prototyping ideas for testing.</p>

          <p>My work covers user journeys and navigation as well as interactions at the component level so I can see the big picture as well as the fine detail.</p>

          <p>I make working software in code, not just pictures that describe it. My work is done when it's in the hands of users and delivering value.</p>

          <h2>Almost 20 years experience</h2>
          <p>I've been in digital since 2000 and my previous clients include Tesco, BBC, Just Eat, Selfridges, The Financial Times, T-Mobile, the Department for Work and Pensions, the Ministry of Justice and many more.</p>

          <h2>Books I've written</h2>

          <p>I've written 2 books:</p>

          <ul>
            <li><a href="https://www.smashingmagazine.com/printed-books/form-design-patterns/">Form Design Patterns</a> is about how to design a plethora of forms for the web. Published as a beautiful hardback by Smashing Magazine in 2018.</li>
            <li><a href="https://maintainablecss.com">MaintainableCSS</a> is about crafting modular interfaces with CSS. Self-published for free in 2016.</li>
          </ul>

          <h2>Some other bits</h2>

          <p>When I’m not working, you’ll find me playing tennis, braving Insanity Max 30 and spending time with my family.</p>

          <p>Have a question? <a href="mailto:adam@wycombecare.co.uk">Get in touch</a>.</p>
        </div>
        <div class="content-blockB">
          <img class="content-blockImage" src="/assets/images/adam3.jpg" alt="Profile photo of Adam Silver" style="width: 100%; max-width: 380px;">
        </div>
      </div>
    </div>
  </div>

{% endblock %}
