---
permalink: "/admissions/"
title: Admissions
navId: admissions
heading: Admissions
---

{% extends 'layouts/base.njk' %}

{% block mainContent %}
  <div class="content">
    <div class="content-measure">
      <h1 class="heading-title">{{heading}}</h1>
      <p>Wycombe Care can consider accommodating children up to the age of 18, who have either a learning disability or a physical disability, or both.</p>
      <p>When assessing a child for a placement with us, we’ll need to make sure that their needs are compatible with the needs of the other children in residence. </p>
      <h2 id="planned-admissions">Planned admissions<span class="dot1">.</span></h2>
      <p>Wherever possible admissions are planned, and the child’s care and support requirements are fully assessed and discussed before they come to stay with us.</p>
      <p>Following a referral, we will undertake an initial assessment, so that everyone involved can make sure the placement is suitable.</p>
      <p>During the period of assessment the child and their family or carers will be introduced to Wycombe Care. The child will be invited to come for an introductory visit and then to stay for a longer period. We welcome family and friends to the unit so that they can see the care and facilities that we provide.</p>
      <p>Occasionally, a member of our team may visit the child and their family or carers to provide information, reassurance and support. </p>
      <p>We’ll give families a copy of our Statement of Purpose, and the child a copy of our Children’s Guide in a format that’s appropriate to their level of understanding.</p>
      <p>We’ll carefully monitor any new children for the first 3 months with us, to make sure that we can support their needs.</p>
      <h2 id="emergency-admissions">Emergency admissions<span class="dot2">.</span></h2>
      <p>In certain circumstances, and provided there’s a vacancy, we can accept emergency admissions. </p>
      <p>In such cases a senior member of our team will gather as much information as we need to care for the child in the very short term. This will include getting signed consent to treatment in a medical emergency.</p>
      <p>A Child in Care Review will be held within 72 hours of the placement to assess the suitability of the placement, and whether it should continue.</p>
      <h2 id="contact-us">Contact us<span class="dot3">.</span></h2>
      <p>To discuss placing a child with us, you can:</p>
      <ul>
        <li>email us at <a href="mailto:ruth@wycombecare.co.uk">ruth@wycombecare.co.uk</a></li>
        <li>phone us on 01582 595 605</li>
      </ul>


    </div>
  </div>

{% endblock %}
