---
permalink: "/contact/"
title: Contact
navId: contact
heading: Contact
---

{% extends 'layouts/base.njk' %}

{% block mainContent %}
  <div class="content">
    <div class="content-measure">
      <h1>{{heading}}</h1>
      <p>If you’d like to discuss placing a child with us, start by reading our <a href="/admissions">admissions page</a> to check that Wycombe Care is suitable for their needs.</p>
      <p>You can find general information about Wycombe Care in our <a href="link to download">Statement of Purpose</a>.</p>
      <p>If you still need to talk to us, you can:</p>
      <ul>
        <li>email us at <a href="mailto:ruth@wycombecare.co.uk">ruth@wycombecare.co.uk</a></li>
        <li>phone us on 01582 595 605</li>
      </ul>
    </div>
  </div>

{% endblock %}
