---
permalink: /
navId: home
title: Long term residential care for disabled children and young people
---

{% extends 'layouts/base.njk' %}

{% block mainContent %}
  <!--<div class="hero">
    <div class="hero-left">
      <h1 class="heading-title">{{title}}</h1>
    </div>
    <div class="hero-right">
      <img style="width: 1050px;position: absolute; top: 0; right: -350px;" src="/assets/images/illustration1.svg" alt="">
      {# <img style="width: 950px;position: absolute; top: -70px; right: -100px;" src="/assets/images/illustration2.svg" alt=""> #}
      {# <img style="width: 950px;position: absolute; top: -100px; right: -100px;" src="/assets/images/illustration3.svg" alt=""> #}
      {# <img style="width: 950px;position: absolute; top: -130px; right: -100px;" src="/assets/images/illustration4.svg" alt=""> #}
    </div>-->
  <div class="homepage-hero">
    <div class="content-measure">
      <h1 class="homepage-title">Residential care for disabled children and young people</h1>
      <img src="/assets/images/illustration1.svg" alt="">
    </div>
  </div>
  <div class="content">
    <div class="content-measure">
      <p class="body-">Wycombe Care is a childrens’ residential care facility based in Luton.</p>

      <p class="body-">We offer long term care for children of any gender, aged 6-18, with either a learning disability or a physical disability, or both.</p>

      <p class="body-">If you’ve got a question, or you’d like to discuss placing a child, <a href="/contact">get in touch</a>.</p>


      <h2>Our ethos<span class="dot1">.</span></h2>

      <p>We aim to provide a safe, nurturing environment for children where they’ll be protected from harm. </p>
      <p>But life at Wycombe Care isn’t just about staying safe. We believe that positive actions lead to positive outcomes. That’s why everything we do is to ensure that children in our care can achieve their full potential, and live with as much independence as their disability allows.</p>
      <p>We seek to give children rich and varied experiences during their time at our facility, to help them learn and grow. </p>
      <p>But we work just as hard to preserve and nurture their individual needs and wishes—the things that make them unique. </p>
      <p><a href="/about">Read more about our ethos and life at Wycombe Care</a></p>

      <h2 id="ofsted-reports">Ofsted reports<span class="dot2">.</span></h2>
      <p>Our units are fully inspected under the social care common inspection framework.</p>
      <p><a href="/about">Download our latest Ofsted report</a></p>

      <h2 id="statement-of-purpose">Statement of purpose<span class="dot3">.</span></h2>
      <p>Our Statement of Purpose explains what we believe, what we aim to do, and how we meet quality standards for the children in our care.</p>
      <p><a href="#">Download our Statement of Purpose</a></p>


    </div>
  </div>
{% endblock %}
