---
permalink: /
navId: home
title: Care home for children with disabilities
---

{% extends 'layouts/base.njk' %}

{% block mainContent %}
  <div class="content-measure">
  <div class="hero">
    <div class="hero-left">
      <h1 class="heading-title">{{title}}</h1>
    </div>
    <div class="hero-right">
      <img style="width: 1050px;" src="/assets/images/illustration1.svg" alt="">
    </div>
  </div>
  </div>
  <div class="content">
    <div class="content-measure">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Cursus turpis massa tincidunt dui ut ornare. Quis risus sed vulputate odio. Cras tincidunt lobortis feugiat vivamus at.</p>
      <p>Mi ipsum faucibus vitae aliquet nec ullamcorper sit amet. Nec feugiat in fermentum posuere urna nec tincidunt praesent. Nullam vehicula ipsum a arcu cursus vitae congue. Egestas congue quisque egestas diam in arcu cursus euismod.</p>
      <p>Mattis vulputate enim nulla aliquet porttitor lacus luctus accumsan. Pretium nibh ipsum consequat nisl. Tortor id aliquet lectus proin nibh. At elementum eu facilisis sed odio morbi quis. Pellentesque nec nam aliquam sem et tortor.</p>

      <p>Accumsan in nisl nisi scelerisque eu ultrices vitae. Sapien et ligula ullamcorper malesuada proin libero nunc. Ut sem nulla pharetra diam sit amet nisl suscipit adipiscing. Nulla aliquet enim tortor at auctor urna nunc id cursus.</p>

      <p>Duis tristique sollicitudin nibh sit amet commodo nulla. Pellentesque id nibh tortor id aliquet lectus proin nibh. Metus dictum at tempor commodo ullamcorper a. Integer feugiat scelerisque varius morbi. Molestie ac feugiat sed lectus vestibulum mattis ullamcorper velit.</p>
      <p> Vitae elementum curabitur vitae nunc sed velit dignissim sodales ut. In pellentesque massa placerat duis. Fringilla phasellus faucibus scelerisque eleifend donec pretium vulputate sapien nec. Purus sit amet luctus venenatis lectus. Sapien faucibus et molestie ac feugiat sed lectus vestibulum. A lacus vestibulum sed arcu non odio euismod. Aenean et tortor at risus viverra adipiscing at.</p>
    </div>
  </div>
{% endblock %}
